html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    font-family: monospace;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #555;
}

#calc-body {
    border: 2px black solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background: white;
    gap: 8px;
}

#display {
    min-width: 16px;
    min-height: 58px;
    text-align: right;
    background: #999;
    color: black;
    padding: 8px;
    font-size: 32px;
    border-radius: 8px;
    border: 2px #333 solid;
}

#keys {
    display: flex;
}

.key-row,
.key-column {
    display: flex;
}

.key-row .stretch {
    flex-grow: 1;
}

button {
    font-size: 24px;
    min-height: 48px;
    min-width: 48px;
    border-radius: 8px;
    margin: 2px;
}

.key-column {
    flex-direction: column;
}

#function-keys {
    display: flex;
    flex-direction: column;
}

.red {
    background: lightcoral;
    color: white;
}